<h1>Hello @ViewData["myEMployee"]</h1>
<p>
    Employee ID : @ViewBag.Employee.Id
    <br />
    Employee Name : @ViewBag.Employee.Name
    <br />
    Employee Age : @ViewBag.Employee.Age
    <br />
</p>